.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem 0.7rem 2.5rem;
  background: #00000000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.navbar-logo-img {
  height: 57px;
  width: auto;
  background: none;
  border-radius: 0;
}

.navbar-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
  transition: color 0.16s;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 4px 14px;
  border-radius: 4px;
  transition: background 0.13s, color 0.11s;
}

.navbar-links .active a,
.navbar-links li a:hover {
  background: #fff;
  color: #ffb116;
}

.navbar-lang-dropdown {
  position: relative;
  cursor: pointer;
  color: #000;
  outline: none;
}

.navbar-lang-dropdown span {
  padding: 4px 14px;
  border-radius: 4px;
  display: inline-block;
  background: none;
  color: #fff;
}

.navbar-lang-list {
  display: none;
  position: absolute;
  right: 0;
  font-size: 1rem;
  margin-top: 6px;
  background: #fff;
  color: #232323;
  border-radius: 6px;
  min-width: 100px;
  z-index: 20;
  box-shadow: 0 2px 10px 0 rgba(32,32,32,0.10);
}

.navbar-lang-dropdown:focus .navbar-lang-list,
.navbar-lang-dropdown:hover .navbar-lang-list {
  display: block;
}

.navbar-lang-list a {
  display: block;
  padding: 8px 14px;
  color: #232323;
  text-decoration: none;
}

.navbar-lang-list a:hover {
  background: #f3f3f3;
  color: #b09a75;
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 110;
  margin-left: auto;
}
.hamburger-bar {
  width: 25px;
  height: 3.1px;
  background-color: #232323;
  margin: 3.3px 0;
  border-radius: 3px;
  transition: all 0.3s;
}

@media (max-width: 700px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 0.6rem 0.5rem 0.6rem 0.7rem;
    position: relative;
  }
  .navbar-hamburger {
    display: flex;
  }
  .navbar-links {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 1.1rem 1.3rem 1.1rem 1.3rem;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 10px 30px -8px rgba(25,23,23,0.09);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.22s, transform 0.22s;
  }
  .navbar-links.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .navbar-links li {
    width: 100%;
    padding: 0.17rem 0;
  }
  .navbar-links a {
    font-size: 1.05rem;
    display: block;
    width: 100%;
    padding: 7px 2px;
    border-radius: 7px;
  }
  .navbar-lang-dropdown span {
    width: 100%;
  }
  .navbar-logo-img {
    height: 37px;
  }
}
